body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: black;
    background-image: background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wJTIwY2xvdWRzfGVufDB8fDB8fHww&w=1000&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}
main {
    flex: 1;
}
.navbar-custom {
    background-color: grey !important;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand span,
.navbar-custom .nav-link {
    color: white !important;
}

.navbar-custom .navbar-toggler-icon {
    filter: invert(1);
}

nav a {
    text-decoration: none;
    margin: 0 10px;
}


nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
p {
    font-size: 1.1em;
}

a {
    color: lightblue;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}
img {
    border: 5px black solid;
    border-radius: 5px;
}

main a[href="mailto:"] {
color: rgb(0, 0, 3);
font-weight: bold;
}
body.dark-mode {
    background-color: #333333;
    color: black;
}
body.dark-mode nav {background-color: #222222;}
#theme-toggle {padding: 8px 16px; cursor: pointer; margin: 10px; }
